body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.root {
  .item {
    display: flex;
    flex-wrap: wrap;
    // column-count: 3;
    .img {
      width: 33.3333vw;
      height: 33.3333vh;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .imgWin {
      width: 32.9124vw;
    }
  }
}
